body {
  background-image: url('./assets/background.jpg');
  text-align: center;
  padding: 5%;
  font-size: 18px;
  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

background-position:center;
}

button {
  margin-left: 5px;
}

button, input {
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
}